version: 1.0
monodes:
  common:
    triggers:
      - common/**
      - "*.kts"

  .service:
    type: service
    extends:
      - common

  entry-logger:
    extends:
      - .service
    triggers:
      - entry-logger/**

  security-system:
    extends:
      - .service
    needs:
      - entry-logger
      - sso
      - user-directory
    triggers:
      - security-system/**

  sso:
    extends:
      - .service
    triggers:
      - sso/**

  user-directory:
    extends:
      - .service
    triggers:
      - user-directory/**

environments:
  production:
    deploy: auto
    rollback: manual
