name: security-system-deploy
'on':
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy security-system to.
        required: true
        type: environment
      security-system-sha:
        description: Version of security-system to deploy.
        required: true
        type: string
      deployment-status-url:
        description: URL for status updates to be sent to.
        required: false
        type: string
jobs:
  Start:
    environment: ${{ github.event.inputs.environment }}
    needs: [
      ]
    steps:
    - uses: rsotnychenko/deployment-status-update@0.2.0
      name: Report deploy as in_progress
      with:
        run_id: ${{ github.run_id }}
        status: in_progress
        deployment_status_url: ${{ github.event.inputs.deployment-status-url }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event.inputs.deployment-status-url != null }}
    runs-on: ubuntu-latest
  Deploy-security-system:
    needs:
    - Start
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: monopolis-security-system
          heroku_email:  ${{secrets.HEROKU_EMAIL}}
          procfile: "web: security-system/build/install/security-system/bin/security-system $PORT"
    runs-on: ubuntu-latest
    if: ${{ always()  }}
  End:
    needs:
    - Deploy-security-system
    steps:
    - uses: rsotnychenko/deployment-status-update@0.2.0
      name: Report deploy as ${{ needs.Deploy-security-system.result }}
      with:
        run_id: ${{ github.run_id }}
        status: ${{ needs.Deploy-security-system.result }}
        deployment_status_url: ${{ github.event.inputs.deployment-status-url }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event.inputs.deployment-status-url != null }}
    runs-on: ubuntu-latest
    if: ${{ always() }}
