name: security-system
'on':
  push:
    paths:
    - security-system/**
    - common/**
    - .monopolis/config.yml
    - .github/workflows/security-system-build.yml
    - .github/workflows/security-system-deploy.yml
jobs:
  Build:
    needs: [
      ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: ./gradlew :security-system:check
    runs-on: ubuntu-latest
