name: security-system-deploy
'on':
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy security-system to.
        required: true
        type: environment
      security-system:
        description: Version of security-system to deploy.
        required: true
        type: string
      deployment_id:
        description: GitHub Deployment id.
        required: false
        type: string
jobs:
  Start:
    name: Start ${{ github.event.inputs.environment }}
    if: ${{ github.event.inputs.deployment_id != null }}
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    needs: [
      ]
    outputs:
      shas: ${{ steps.start_monode_deployment.outputs.environment_map }}
    steps:
    - uses: monopolis-cloud/start-monode-deployment@v2
      id: start_monode_deployment
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  Deploy-security-system:
    needs:
    - Start
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: monopolis-security-system
        heroku_email: ${{secrets.HEROKU_EMAIL}}
        procfile: 'web: security-system/build/install/security-system/bin/security-system
          $PORT'
    runs-on: ubuntu-latest
    if: ${{ always()  }}
  End:
    name: End ${{ github.event.inputs.environment }}
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
    - Deploy-security-system
    steps:
    - uses: monopolis-cloud/finish-monode-deployment@v2
      with:
        status: ${{ needs.Deploy-security-system.result }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
