name: sso
'on':
  push:
    paths:
    - sso/**
    - common/**
    - .monopolis/config.yml
    - .github/workflows/sso-build.yml
    - .github/workflows/sso-deploy.yml
jobs:
  Build:
    needs: [
      ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: ./gradlew :sso:check
    runs-on: ubuntu-latest
