name: user-directory
'on':
  push:
    paths:
    - user-directory/**
    - common/**
    - '*.kts'
    - .monopolis/config.yml
    - .github/workflows/user-directory-build.yml
    - .github/workflows/user-directory-deploy.yml
jobs:
  Build:
    needs: [
      ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: ./gradlew :user-directory:check
    runs-on: ubuntu-latest
